{% extends "main/base.html" %}


{% block title %}

My e$hop

{% endblock %}


{% block content %}

{% if user.username == 'esteb1' %}
<a href="{% url 'discounts:apply_discounts' %}">Apply Discounts</a>
{% endif %}

<div class="container">
    <div class="card m-1" >
      <div class="card-header">
        Seccion de Como funciona
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Video de como funciona</li>
        <li class="list-group-item">Parrafo explicando el funcionamiento</li>
      </ul>
    </div>
        <div class="card m-1" >
      <div class="card-header">
        Seccion Preguntas Frecuentes y sus respuestas
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Pregunta 1 y su respuesta</li>
        <li class="list-group-item">Pregunta 2 y su respuesta</li>
        <li class="list-group-item">Pregunta 3 y su respuesta</li>
      </ul>
    </div>
</div>

{% endblock %}

