{% extends "main/base.html" %}


{% block title %}

Contacto

{% endblock %}


{% block content %}
<!--<h1>Contacta con nosotros</h1>-->
<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.from_email }}-->
<!--    {{ form.subject }}-->
<!--    {{ form.message }}-->
<!--    <div class="form-actions">-->
<!--      <button type="submit">Enviar</button>-->
<!--    </div>-->
<!--</form>-->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"> Contacta con nosotros</i>
                </div>
                <div class="card-body">
                    <form>
                         {% csrf_token %}
                        <div class="form-group">
                            <label >Email</label>
                                {{ form.from_email }}
                        </div>
                        <div class="form-group">
                            <label >Asunto</label>
                            {{ form.subject }}
                        </div>
                        <div class="form-group">
                            <label >Mensaje</label>
                            {{ form.message }}
                        </div>
                        <div class="mx-auto">
                        <button type="submit" class="btn btn-success text-right">Enviar</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

