{% extends "main/base.html" %}

{% block title %}

Shopping history

{% endblock %}

{% block content %}

<div class="container">
    <div class="card" >
      <ul class="list-group list-group-flush">
        {% for item in order.items.all %}
           {% if item.discounted %}

                <li class="list-group-item">
                     {{item.name}} ${{item.new_price}} {{item.quantity}} Subtotal: {{ item.new_sub_total }}
                </li>
            {% endif %}
        {% empty %}
            No hay descuentos aplicados
        {% endfor %}
          </ul>

    </div>
     Tu ahorro {{owner.money}}
</div>

{% endblock %}
