{% extends "main/base.html" %}
{% load static %}
{% block title %}

Shopping cart

{% endblock %}

{% block content %}

<!--    {% for item in order.items.all %}-->
<!--        {% if not item.pay %}-->
<!--            <li>-->
<!--                {{item.product.name}} ${{item.product.price}} {{item.quantity}} Subtotal: {{ item.sub_total }}-->
<!--                 <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'shopping_cart:delete_item' %}">-->
<!--                    {% csrf_token %}-->
<!--                    <input class="form-control mr-sm-2" type="hidden" value={{item.pk}} name="delete_item" >-->
<!--                     <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Delete</button>-->
<!--                  </form>-->
<!--            </li>-->
<!--        {% endif %}-->
<!--    {% empty %}-->

<!--    {% endfor %}-->
<!--    {% if order.total > 0 %}-->
<!--       Total: {{ order.total }}-->
<!--        <a href="/payment">Payment</a>-->
<!--    {% else %}-->
<!--        Your cart is empty-->
<!--    {% endif %}-->





<div class="container" >
    {% if order.total > 0 %}
    <div class="row m-2">
        <div class="col-sm-12 col-md-12 col-md-offset-1">
        <div class="card">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                 {% for item in order.items.all %}
                    {% if not item.pay %}
                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <div><img src="{{ item.product.image.url }}"></div>
                            <div class="media-body">
                                <h4 class="media-heading m-2">{{item.product.name}}</h4>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <p><strong>{{item.quantity}}</strong></p>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{item.product.price}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>${{ item.sub_total }}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'shopping_cart:delete_item' %}">
                            {% csrf_token %}
                                <input class="form-control mr-sm-2" type="hidden" value={{item.pk}} name="delete_item" >
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Eliminar</button>
                            </form>
                        </td>
                    </tr>
                     {% endif %}
                 {% endfor %}

                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>${{ order.total }}</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                        <td>
                        <a href="/payment">Pago</a>
                    </tr>
                {% else %}
                 <h1 >Tu carrito esta vacio</h1>
                {% endif %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
{% endblock %}