{% extends 'main/base.html' %}
{% load static %}

{% block title %} Busqueda de producto {% endblock %}

{% block content %}

<div class="container">
<div class="col">
<div class="row">
    {% for product in products %}
          <div class="col-12 col-md-6 col-lg-4">
                        <div class="card m-1">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">{{product.name}} ${{product.price}}</h4>
                                <p class="card-text">
                                <p> {{product.description}}</p>
                                <p> Primer meta: {{product.quantity_1}} Precio final: ${{product.price_1}} </p>
                                <p> Segunda meta: {{product.quantity_2}} Precio final: ${{product.price_2}} </p>
                                <p> Tercer meta: {{product.quantity_3}} Precio final: ${{product.price_3}} </p>
                                <p> Vendidos hasta ahora: {{product.sales}} </p>
                                    Stock: {{product.stock}}, In cart: {{product.in_cart}},
                                </p>
                                <div class="row">
                                    {% if user.is_authenticated %}
                                          {% comment %} Para agregar al carrito  {% endcomment %}
                                          <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'search_product:add_to_cart' %}">
                                            {% csrf_token %}
                                            <input class="form-control mr-sm-2" type="hidden" value={{product.pk}} name="product_id" >
                                            <input value="1" class="form-control mr-sm-2" type="number" aria-label="Quantity" name="quantity" >
                                                                  {% for message in messages %}
                                                                        <p id="messages" >{{message}} </p>
                                                                    {% endfor %}
                                              {% if product.pk in products_id %}
                                                <a href="/shopping_cart">Go to cart</a>
                                              {% else %}
                                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to cart</button>
                                              {% endif %}
                                          </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
          </div>
      {% endfor %}
        </div>
   </div>


</div>


{% endblock %}
